:root {
  --textColor--: #d3573c;
  --background--: #901c1c;
  --fontBanner--:  #DB8876;

}
body {
  font-family: "DM Sans", sans-serif;
}
#contact_modal {
  display: none;
}
.logo {
  height: 50px;
  margin-left: 100px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--background--);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.6s, color 0.3s; /* Animation de transition */
}

.contact_button:hover {
  background-color: var(--textColor--);
  color: #000;
  
}


.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  padding: 35px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.modal header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header div h1 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  text-align: left;
  
}
.modal header div h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  text-align: left;
}


form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 26px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input, textarea {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
}

.photo-profil {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.local {
  color: var(--background--);
 
}
.no-scroll {
  overflow: hidden;
}
.nom-photographe
 {
  color: var(--textColor--);

}

.list-img {
  width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  
}

.list-img article {
  justify-self: center;
  display: flex;
 flex-direction: column;
margin: 15px 0;
  text-align: center;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
padding: 2px;
}
.list-img img:focus {
 
  outline: auto;

}
.list-img article:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 

.media-item{
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: border-color 0.3s ease;
  border-radius: 5px;
}
 .media-item:hover , .fa-heart{
  cursor:pointer;
  
} 
.fa-heart{
  margin: 0 5px;
}

article .detaille {
  display: flex;
  justify-content: space-between;
  height: 50px;
  color: var(--background--);
  align-items: center;
}
.detaille h2{
  font-size: 18px;
}
p{
  font-size: 18px;
}
.detaille>h2{
  margin: 0;  
  font-weight: 400;
}
.photograph-medias {
  position: relative;
  margin: 0 100px;
}

.lightbox,
#contact_modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.lightbox{
  background-color:#ffffff;
}

.lightbox-image {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  width: 650px;
height: 640px;
}
.lightbox-image>img, .lightbox-image>video {
  width:100%;
  height: 100%;
  object-fit: cover;
}

.lightbox-image figcaption{
  color: var(--background--)
}

.btn {
  cursor: pointer;
  background: none;
  border: none;
  width: 50px;
  font-size: 50px;
  color: var(--background--);
}
.likes{
 font-size: 18px;
}
.close-button {
  position: absolute;
  top: 16%;
  right: 10%;
  
}
.lightbox-prev-button {
    position: absolute;
  top: 50%;
  left: 10%;
}
.lightbox-next-button {
    position: absolute;
  top: 50%;
  right: 10%;
}
#banner {
  width: 10em;
  height: 40px;
  background-color: var(--fontBanner--);
  position: fixed;
  right: 100px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#total_likes{
  margin-right: 5px;
}
#filtre{
  width: 150px;
  height: 50px;
  background-color: var(--background--);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  padding: 15px;
}
#filtre::after {
  height: 100px !important;
}
.menu{
  margin-top: 20px;
}
.menu label{
  font-weight: 600;
}
.active {
  color:var(--textColor--) !important; /* Couleur pour le bouton "Next" */
}
.btn:hover{
  color:var(--textColor--) !important;
}



